{% extends "base.html.jinja" %}

{% block content %}
  {% for strip in strips %}
    <a href="{{ url_for('comic', page=strip.id) }}">
      {% include "strip.html.jinja" %}
    </a>
  {% endfor %}
{% endblock %}
