<!DOCTYPE html>
<html>

<head>
  <title>All Your Pants v3</title>
  <link rel="stylesheet" type="text/css" media="all" href="/static/styles.css" />
</head>

<body>
  <div id="ayp">
    <header>
      <h1>.aiyp</h1>
    </header>
    <main>
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
      <nav>
        <ul>
          <li {% if page <=1 %} class="hidden" {% endif %}>
            <a href="{{ url_for(route, page=1) }}">&larr;&larr;</a>
          </li>
          <li {% if page <=1 %} class="hidden" {% endif %}>
            <a href="{{ url_for(route, page=page - 1) }}">&larr;</a>
          </li>
          <li><a href="/archive">Archive</a></li>
          <li><a href="/top">Top</a></li>
          <li><a href="/random">Random</a></li>
          <li {% if page>= num_pages %} class="hidden"{% endif %}>
            <a href="{{ url_for(route, page=page + 1) }}">&rarr;</a>
          </li>
          <li {% if page>= num_pages %} class="hidden"{% endif %}>
            <a href="{{ url_for(route, page=num_pages) }}">&rarr;&rarr;</a>
          </li>
        </ul>
      </nav>
    </main>
    <footer>
      <p>made by someone</p>
    </footer>
  </div>
</body>

</html>
