<!DOCTYPE html>
<html>

<head>
  <title>All Your Pants v3</title>
  <link rel="stylesheet" type="text/css" media="all" href="/static/styles.css" />
</head>

<body>
  <div id="ayp">
    <header>
      <h1>.aiyp</h1>
    </header>
    <main>
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
      <nav>
        {% block nav %}
        {% endblock %}
      </nav>
    </main>
    <footer>
      <p>made by someone</p>
    </footer>
  </div>
</body>

</html>
