{% extends "base.html.jinja" %}

{% block content %}
<div class="comic">
  <img src="{{ url_for('static', filename='comics/comic-{0:03d}.png'.format(page)) }}"
    alt="comic {{ comic_id }}">
</div>
{% endblock %}
