<!DOCTYPE html>
<html>
<head>
    <title>Comic Viewer</title>
</head>
<body>
    <header>
        <h1>.aiyp</h1>
    </header>
    <main>
        <img src="{{ url_for('static', filename='comics/comic-{0:03d}.png'.format(comic_id)) }}" alt="Comic {{ comic_id }}">
        <nav>
            <ul style="list-style-type: none; display: flex; justify-content: space-around;">
                <li><a href="/comic/N">&larr;</a></li>
                <li><a href="/archive">Archive</a></li>
                <li><a href="/top">Top</a></li>
                <li><a href="/random">Random</a></li>
                <li><a href="/comic/N">&rarr;</a></li>
            </ul>
        </nav>
    </main>
    <footer>
        <p>made by someone</p>
    </footer>
</body>
</html>
